@import url('https://fonts.googleapis.com/css2?family=Domine&family=Inter:wght@100;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .clearfix::after{
    clear: both;
    content: '';
    display: table;
  }
  
  body{
    background-color: #000;
    color: #fff;
  }

  header{
    text-align: center;
  }

h1{
    color: pink;
}
